In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("cities.csv")
df.head()

,Cities,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Margate,75,GB,1584313155,100,51.38,1.39,48.20,2.24
1,Bluff,87,NZ,1584313155,80,-46.60,168.33,55.99,10.00
2,Kapaa,75,US,1584312917,69,22.08,-159.32,80.60,11.41
3,Vila Franca do Campo,20,PT,1584313155,81,37.72,-25.43,53.60,4.70
4,Padang,84,ID,1584313155,88,-0.95,100.35,70.21,5.32

In [3]:
html = df.to_html("cities.html")